# Copy to backend/.env. Never commit .env.
APP_ENV=local


ASYNC_DB_URL=your_async_db_url

SYNC_DB_URL=your_sync_db_url

ASYNC_TEST_DB_URL=your_async_test_db_url

REDIS_URL=your_redis_url

BROKER_URL=your_rabbitmq_url
