# Copy to backend/.env. Never commit .env.
APP_ENV=local


ASYNC_DB_URL=your_async_db_url

SYNC_DB_URL=your_sync_db_url

ASYNC_TEST_DB_URL=your_async_test_db_url

REDIS_URL=your_redis_url

BROKER_URL=your_rabbitmq_url

ENCRYPTION_KEY=your_encryption_key

ACCESS_TOKEN_SECRET_KEY=your_access_token_secret_key
REFRESH_TOKEN_SECRET_KEY=your_refresh_token_secret_key
ACCESS_TOKEN_EXPIRE_TIME=your_access_token_expire_minutes
REFRESH_TOKEN_EXPIRE_TIME=your_refresh_token_expire_days

GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret

ARGON2_PASSWORD_PEPPER=your_argon2_password_pepper
